<script src="/js/ToggleDisplayMenu.js"></script>

<!------------------------------------------------------------------------START OF COMING SOON MENU---------------------------------------------------------->
<div style="visibility: hidden" id="comingSoonMenu" class="basicPopUpMenu">
    <div class="xbarLeft" style="background-color: red;"></div>
    
    <div class="xbarRight">
       <img src="/img/red_xBox.png" style="float: right; cursor: pointer; height: 100%;" onclick="toggleDisplayMenu('comingSoonMenu')">
    </div>
   
    <div class="basicPopUpMenuCell" style='font-size:12vmin;'>
        <h1>Coming Soon!</h1>
    </div>
</div>
<!------------------------------------------------------------------------END OF COMING SOON MENU---------------------------------------------------------->